<div>
  <% if @tweets.count > 0 %>
    <% for tweet in @tweets %>
      <div class="tweet">
      아이디: <%= tweet.id %>
      내용: <%= tweet.tweet %>
      작성자: <%= tweet.user_name %>
      카테고리: <%= tweet.category %>
      공개여부: <%= tweet.is_public %>
      시간: <%= tweet.created_at %>
      <%= link_to "수정", edit_tweet_path(id: tweet.id)%>
      </div>
    <% end %>
  <% else %>
    "저희 아직 트윗이 없어요... 하나 써주세요"
  <% end %>
</div>